.content{
  background-color: rgb(255, 255, 255);
  position: absolute;
  top:140px;
  width:70%;
}

.middle-right-bottom {
  width: 100%;
  background-color: white;
  padding: 12px 12px;
}

.expand, .child {
  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-columns: auto 90px 300px 82px;
  background-color: #E5E5F1;
  margin-bottom: 5px;
  height: 30px;
  font-size: 14px;
}

.col {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}


.list {
  margin-left: 20px;
  display: none;
  list-style: none;
}

#checker {
  opacity: 0;
  width: 25%;
  height: 5%;
  position: absolute;
  cursor: pointer;
}

.bi-plus::before {
  font-size: 20px;
  height: 20px;
}

#button > .bi-plus::before {
  margin-right: -5px;
}

#checker:checked ~ .list {
  display: list-item;
}

ul, li {
  list-style: none;
  margin-bottom: 7px;
}

#col {
  text-align: right;
}


#left-expand {
  display: grid;
  grid-template-columns: auto 20px;
  width: 100%;
  height: fit-content;
  margin: 6px 0;
  background-color: inherit;
}

#left-expand#checker {
  width: 21%;
  height: 30px;
  margin: -30px 0 0 -5px;
}

#left-list {
  margin: 0;
}

.left-child {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
}

button {
  border: none;
}

.col button {
  background-color: #0000;
}


#add, #edit, #remove {
  font-size: 12px;
  font-weight: 900;
  padding: 0;
  padding-left: 5px;
  align-items: center;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
}

#add {
  color: blue;
  font-size: 20px;
  margin-right: -3px;
}

#edit {
  color: #FBC211;
}

#remove {
  color: red;
}

#checker:checked + div > .col > .bi-chevron-up, #checker:checked + #left-expand > .bi-chevron-down {
  transform: rotate(180deg);
}

.child:hover, .expand:hover {
  background-color: #D1D3EC;
}

#toolTip {
   display: none;
   width: fit-content;
   height: fit-content;
   max-width: 220px;
   margin-left: 15%;
   margin-top: -70px;
   padding: 5px 10px;
   text-align: center;
   position: absolute;
   font-size: 12px;
   background-color: #27333fd3;
   border-radius: 3px;
   color: white;
}

#toolTip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #27333fd3 transparent transparent transparent;
}

.expand:hover + #toolTip {
  display: inline-flex;
}

#link {
  text-decoration: none;
}
/*.content{
  margin-top:40px;
  margin-bottom: 20px;
  background-color: white;
  height:520px;
}


.content button:hover{
  background-color:#d1d3ec;
}

.content .click{
  display: flex;
  width:95%;
  padding:5px;
  margin:5px;
  margin-left:20px;
  background-color: #e5e5f1;
  border: rgb(186, 186, 186) solid 0px;
  text-align: left;
  border-radius: 2px;
}
.content .click svg{
  margin:1px;
}
.content .col1{
  margin-left:50px;
  width:91.8%;

}
.content .col2{
  margin-left:80px;
  width:88.6%;
  padding-left:20px;
}
.content .col3{
  margin-left:110px;
  width:85.5%;
  padding-left:30px;
}
.click .ma{
  text-align: left;
}
.click .nv{
  width:100%;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
   display: -webkit-box;
}
.click .ad {
  float:right;
  width:70px;
}
.click .ad svg{
  float:right;
  margin-top:2px;
  margin-left:3px;
  font-weight: bold;
}

.abc{
  position: relative;
display: inline-block;
}

.abc .xyz {
  visibility: hidden;
  width: 200px;
  background-color: #485a6e;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.abc .xyz::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.abc:hover .xyz {
  visibility: visible;
}
*/
